@import '../../../../assets/sass/mixins.scss';

.est-entered-container {
	width: auto;

	.est-entered-columns {
		margin: 15px !important;

		.menu-label {
			font-weight: bolder;
			font-size: 22px;
		}

		.est-tabs {
			font-size: 18px;

			a {
				color: $primary !important;
			}

			span {
				color: $primary !important;
			}
		}
		.est-tabs a:hover {
			outline: none !important;
			text-decoration: none !important;
		}
	}
}
