@import '../../../../assets/sass/mixins.scss';
.travel-container {
	width: auto;

	.travel-columns {
		margin: 15px !important;
		.select-labels {
			font-weight: bold !important;
		}
		.menu-label {
			font-weight: bolder;
			font-size: 22px;
		}

		.travel-log {
			display: block !important;
			overflow-y: auto !important;

			height: 300px !important;

			tbody tr td {
				padding: 13px;
			}

			.columns-error {
				margin: 100px !important;
			}

			.table tbody tr:nth-child(even) {
				background-color: hsl(0, 0%, 95%);
			}

			.table tbody tr:hover {
				background-color: hsl(171, 100%, 41%) !important;
				font-weight: bold;
			}

			.table thead th:hover {
				background-color: none !important;
			}
		}

		.choose-panel {
			font-size: 18px;

			a {
				color: $primary !important;
			}
		}
	}
}
