@import '../../../../assets/sass/mixins.scss';

.entrypoints-columns {
	width: auto !important;

	.columns-header {
		margin: 15px !important;
	}
	.menu-label {
		font-weight: bolder;
		font-size: 22px;
	}

	.card:hover {
		-webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
		box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}

	.entry-tabs {
		font-size: 18px;

		a {
			color: $primary !important;
		}

		span {
			color: $primary !important;
		}
	}

	.entry-tabs a:hover {
		outline: none !important;
		text-decoration: none !important;
	}
}
