@import '../../../../assets/sass/mixins.scss';

.modal {
	.travel-information {
		.icon-text {
			margin-bottom: 10px !important;
		}

		.tvl-info {
			font-weight: bold;
		}
	}

	.remove-shadow {
		box-shadow: none;
	}

	.menu-label {
		font-weight: bolder;
		font-size: 15px;
	}

	.companion-information {
		overflow-y: auto;
	}

	.tabs ul li a:hover {
		border-bottom: none !important;
	}
}
