@import '../../../assets/sass/mixins.scss';

.main-index {
	background-image: url('https://i.imgur.com/fvnxvpK.jpg') !important;
	background-position: center !important;
	// background-size: cover;
	height: 100% !important;
	background-attachment: fixed;

	.columns-main {
		color: #ffffff !important;
		font-weight: bold;
		margin: 0 !important;
		padding: 0 !important;
		// height: 100% !important;
		box-shadow: none !important;
		border: none !important;

		.slide-enter-active,
		.slide-leave-active {
			transition: transform 0.3s ease;
		}

		.slide-enter,
		.slide-leave-to {
			transform: translateX(100%);
			transition: all 120ms ease-in 0s;
		}
		.column-card {
			background-image: url('https://i.imgur.com/fvnxvpK.jpg') !important;
			background-position: center !important;
			// background-size: cover;
			height: 100% !important;
			background-attachment: fixed;
			.card {
				border: none;
				background-color: transparent !important;
			}
		}

		.column-main {
			padding: 0 !important;

			.has-equal-height {
				// card full heigth op
				border: none !important;
				box-shadow: none;
				width: 700px !important;
				height: 100% !important;
				display: block;
				justify-items: center;

				.card-content {
					background-image: url('https://i.imgur.com/fvnxvpK.jpg') !important;
					background-position: center !important;
					// background-size: cover;
					height: 100% !important;
					background-attachment: fixed;
				}
			}
		}
	}
}
