@import '../../../assets/sass/mixins.scss';

.columns-main {
	color: #ffffff !important;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	width: auto;
	box-shadow: none !important;
	border: none !important;

	.slide-enter-active,
	.slide-leave-active {
		transition: transform 0.3s ease;
	}

	.slide-enter,
	.slide-leave-to {
		transform: translateX(100%);
		transition: all 120ms ease-in 0s;
	}

	.card {
		border: none;
		background-color: transparent !important;
		.card-content {
		}
	}

	.column-main {
		padding: 0 !important;

		// background-image: url('https://i.imgur.com/KkBjS9g.jpg') !important;
		// background-position: left !important;
		// background-size: cover;
		// margin: 0 auto !important;
		// background-repeat: no-repeat;
		.has-equal-height {
			border: none !important;
			box-shadow: none;
			width: 700px !important;
			height: 100% !important;
			display: block;
			justify-items: center;
		}
	}
}
