@import '../../../assets/sass/mixins.scss';

.modal {
	.travel-information {
		.icon-text {
			margin-bottom: 10px !important;
		}

		.tvl-info {
			font-weight: bold;
		}
	}

	.companion-information {
		overflow-y: auto;
	}

	.tabs ul li a:hover {
		border-bottom: none !important;
	}
}
