@import '../../../assets/sass/mixins.scss';
.travel-container {
	display: block;
	width: auto;

	.travel-columns {
		margin: 15px !important;
		.menu-label {
			font-weight: bolder;
			font-size: 22px;
		}
		.travel-log {
			display: block !important;
			overflow-y: auto !important;
			height: 300px !important;
		}

		.choose-panel {
			font-size: 18px;

			a {
				color: $primary !important;
			}
		}
	}
}
