.travel-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	.travel-columns {
		margin: 15px !important;
		.menu-label {
			font-weight: bolder;
			font-size: 22px;
		}
		.panel-block {
			display: flex;
		}
	}
}
