@import '../../../assets/sass/mixins.scss';

.sidebar-edit {
	position: relative;
	width: auto;
	height: auto;
	min-height: calc(100vh);
	border-left: 1px solid grey;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	padding: 30px;

	.edit-container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: auto;

		.edit-header {
			left: 0 !important;
		}

		.edit-icon {
			height: 1em !important;
		}

		.edit-tabs {
			margin: 0;
			padding: 0;
		}
	}
}

@include xsm {
	.sidebar-edit {
		width: auto;
		height: auto;
		overflow-y: auto;
		font-size: 10px;

		.edit-container {
			width: auto;
			height: auto;
			left: auto;
			zoom: 0.9;

			.edit-header {
				position: relative;
				left: auto;
			}

			.edit-icon {
				height: 1em !important;
			}
		}
	}
}

@include sm {
	.sidebar-edit {
		width: auto;
		height: auto;
		overflow-y: auto;

		.edit-container {
			width: auto;
			margin: 0;
			padding: 0;

			.edit-header {
				position: relative;
				left: auto;
			}
			.edit-icon {
				height: 1em !important;
			}
		}
	}
}

@include md {
	.sidebar-edit {
		width: auto;
		height: auto;
		overflow-y: auto;

		.edit-container {
			width: auto;
			margin: 0;
			padding: 0;
			zoom: normal;
			min-height: 700px;
			.edit-header {
				position: relative;
				left: auto;
			}

			.edit-icon {
				height: 1em !important;
			}
		}
	}
}

@include lg {
	.sidebar-edit {
		width: auto;
		height: auto;
		overflow-y: auto;

		.edit-container {
			width: auto;
			margin: 0;
			padding: 0;

			.edit-header {
				position: relative;
				left: auto;
			}

			.edit-icon {
				height: 1em !important;
			}
		}
	}
}

@include xl {
	.sidebar-edit {
		width: auto;
		height: auto;
		overflow-y: auto;

		.edit-container {
			width: auto;
			height: auto;

			.edit-header {
				position: relative;
				left: auto;
			}

			.edit-icon {
				height: 1em !important;
			}
		}
	}
}
