@import '../../../assets/sass/mixins.scss';

.sidebar-edit {
	border-left: 1px solid grey;
	position: relative;
	height: 200px !important;
	overflow-y: auto;

	.edit-container {
		position: relative;
		margin: 40px;
	}
}

@include xsm {
	.sidebar-edit {
		width: 100%;
		.edit-container {
			position: relative;
			margin: 40px;
		}
	}
}

@include sm {
	.sidebar-edit {
		width: 100%;
		.edit-container {
			position: relative;
			margin: 40px;
		}
	}
}

@include md {
	.sidebar-edit {
		width: 100%;
		.edit-container {
			position: relative;
			margin: 40px;
		}
	}
}

@include lg {
	.sidebar-edit {
		width: 57%;
		.edit-container {
			position: relative;
			margin: 40px;
		}
	}
}

@include xl {
	.sidebar-edit {
		width: 58%;
		.edit-container {
			position: relative;
			margin: 40px;
		}
	}
}
