@import '../../../assets/sass/mixins.scss';

.personal-info-container {
	position: relative;
	width: auto;
	height: auto;
	font-weight: bold;
	display: flex;
	flex-direction: column !important;

	.box-title {
		margin-top: 0px;
		padding-bottom: 50px;
	}

	.field .control input {
		border-top-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
		border-bottom: 1px solid black !important;
		box-shadow: none;
	}

	input:focus {
		outline: none !important;
		box-shadow: none;
	}
}

@include xsm {
	.personal-info-container {
		position: relative;
		width: auto;
		font-size: 10px;
		height: auto;
	}
}

@include sm {
	.personal-info-container {
		position: relative;
		width: auto;
		height: auto;
	}
}

@include md {
	.personal-info-container {
		width: auto;
		height: auto;
	}
}

@include lg {
	.personal-info-container {
		width: auto;
		height: auto;
	}
}
