@import '../../../assets/sass/mixins.scss';

.personal-info-container {
	position: relative;
	width: auto;
	font-weight: bold;
	height: auto;
	display: flex;
	flex-direction: column !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;

	.box-title {
		margin-top: 0px;
		padding-bottom: 50px;
	}

	.field .control input {
		border-top-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
		border-bottom: 1px solid black !important;
		box-shadow: none;
	}

	input:focus {
		outline: none !important;
		box-shadow: none;
	}
}

@include xsm {
	.personal-info-container {
		left: 50px;
		width: auto;
		font-size: 10px;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@include sm {
	.personal-info-container {
		left: 0;
		width: auto;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@include md {
	.personal-info-container {
		left: 0 !important;
		width: auto;
		height: auto;
		overflow-y: auto !important;
		overflow-x: hidden;
	}
}

@include lg {
	.personal-info-container {
		left: 0;
		width: auto;
		height: auto;
		overflow-y: auto !important;
		overflow-x: hidden;
	}
}
