@import '../../../assets/sass/mixins.scss';

.personal-info-container {
	width: auto;
	font-weight: bold;
	border: 1px solid black;
	height: auto;
	display: flex;
	flex-direction: column !important;
	overflow-y: auto;

	.box-header {
		margin-top: 0px;
		padding-bottom: 50px;
	}

	input {
		padding: 0;
		border-top-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
		border-bottom-style: solid;
		border-bottom: 1px solid black;
		box-shadow: none;
	}

	input:focus {
		outline: none !important;
		box-shadow: none;
	}
}

@include xsm {
	.personal-info-container {
		width: auto;
		height: auto;
		overflow-y: auto;
	}
}

@include sm {
	.personal-info-container {
		width: auto;
		height: auto;
		overflow-y: auto;
	}
}

@include md {
	.personal-info-container {
		width: auto;
		height: auto;
		overflow-y: auto;
	}
}

@include lg {
	.personal-info-container {
		width: auto;
		height: auto;
		overflow-y: auto;
	}
}
