@import '../../../assets/sass/mixins.scss';
// for laptops
.profile-sidebar {
	border-left: 1px solid grey;
	position: relative;
	width: 30%;

	.main-container {
		position: relative;
		margin: 30px;

		.container-header {
			margin: 5px;
			padding-bottom: 20px;
			display: flex;
			flex-direction: row;
			align-content: center;

			.admin-email {
				white-space: nowrap;
			}

			.btn-signout {
				bottom: 10%;
				margin-left: 40%;
				width: 140%;
				max-width: 150%;
			}

			.btn-signout:hover {
				background-color: #5cb85c;
				color: white;
			}
		}

		.info-header {
			position: relative;
			display: flex;
			flex-direction: column;

			.personal-icon-text {
				margin: 5px !important;
				white-space: nowrap;
			}

			.btn-edit-profile {
				position: absolute;
				min-width: 130px;
				font-size: 16px;
				padding: 0;
				bottom: 10%;
				left: 60%;
				height: 40px;
				border-radius: 15px;
			}

			.btn-edit-profile:hover {
				background: #5cb85c;
				color: white;
			}
		}

		.container-info {
			margin: 5px;
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid grey;
			border-bottom: 1px solid grey;
			display: flex;
			flex-direction: column;
			width: 100%;
			font-weight: bold;
			white-space: nowrap;

			.address-icon {
				width: 100%;
				height: auto;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;

				p span {
					display: block !important;
					max-width: 65%;
					border: 1px solid green;
				}
			}

			.barangay-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.city-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.firstname-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.lastname-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.mname-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.age-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}

			.contact-icon {
				width: 100%;
				border: 1px solid grey;
				padding: 5px;
				margin-bottom: 10px;
				.address-label span {
					position: relative;
					display: block;
					width: auto;
					border: 1px solid black;
				}
			}
		}
	}
}

/* Portrait and Landscape */
@include xsm {
	.profile-sidebar {
		border-left: 1px solid grey;
		position: relative;
		width: 105%;

		.main-container {
			position: relative;
			margin: 30px;
			.container-header {
				margin: 5px;
				padding-bottom: 20px;
				display: flex;
				flex-direction: row;
				align-content: center;

				.admin-email {
					white-space: nowrap;
				}

				.btn-signout {
					bottom: 10%;
					margin-left: 20%;
					width: 140%;
					max-width: 150%;
				}

				.btn-signout:hover {
					background-color: #5cb85c;
					color: white;
				}
			}

			.info-header {
				position: relative;
				display: flex;
				flex-direction: column;

				.personal-icon-text {
					margin: 5px !important;
					white-space: nowrap;
				}

				.btn-edit-profile {
					position: absolute;
					min-width: 10px;
					font-size: 16px;
					padding: 0;
					bottom: 10%;
					left: 75%;
					height: 40px;
					border-radius: 15px;
				}

				.btn-edit-profile:hover {
					background: #5cb85c;
					color: white;
				}
			}

			.container-info {
				margin: 5px;
				padding-top: 20px;
				padding-bottom: 20px;
				border-top: 1px solid grey;
				border-bottom: 1px solid grey;
				display: flex;
				flex-direction: column;

				.icon {
					font-weight: bold;
					word-wrap: break-word !important;
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@include sm {
	.profile-sidebar {
		position: relative;
		width: 100% !important;
		height: auto;

		.main-container {
			margin: 30px;
			position: fixed;
			padding-right: 100px !important;
			width: 100%;

			.close-sidebar {
				position: absolute;
				right: 60px;
			}

			.container-header {
				display: flex;
				flex-direction: row;
			}

			.info-header {
				.btn-edit-profile {
					left: 70%;
				}
			}

			.container-info {
				margin: 5px;
				padding-top: 20px;
				padding-bottom: 20px;
				border-top: 1px solid grey;
				border-bottom: 1px grey;
				border-bottom-style: dotted !important;
				border-top-style: dotted !important;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@include md {
	.profile-sidebar {
		position: relative;
		width: 100%;

		.main-container {
			position: relative;
			padding-right: 100px !important;
			width: 100%;
			margin-top: 100px;
			margin-left: 60px;

			.container-header {
				display: flex;
				flex-direction: row;
			}
			.container-info {
				margin: 5px;
				padding-top: 20px;
				padding-bottom: 20px;
				border-top: 1px solid grey;
				border-bottom: 1px grey;
				border-bottom-style: dotted !important;
				border-top-style: dotted !important;
			}

			.close-sidebar {
				position: relative;
				right: 15px;
			}
		}
	}
}

@include lg {
	.profile-sidebar {
		position: relative;
		width: 100%;
		min-height: 100px !important;
		height: 10% !important;
		padding: 0;
		.main-container {
			position: relative;
			padding-right: 100px !important;
			width: 100%;

			.container-header {
				display: flex;
				flex-direction: row;
			}
			.container-info {
				margin: 5px;
				padding-top: 20px;
				padding-bottom: 20px;
				border-top: 1px solid grey;
				border-bottom: 1px grey;
				border-bottom-style: dotted !important;
				border-top-style: dotted !important;

				.icon {
					margin-bottom: 50px;
				}
			}

			.close-sidebar {
				position: relative;
				right: 15px;
			}
		}
	}
}
