@import '../../../assets/sass/mixins.scss';

.main-list {
	width: auto;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	position: relative;
	margin-top: 30px;

	.top-options {
		display: flex;
		flex-direction: row;
		width: auto;

		.field {
			select {
				width: auto;
			}
		}

		.sort-text {
			display: inline-block;
			margin-top: 10px;
		}
	}

	.box {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;

		.user-content {
			display: block;
			width: auto;
			white-space: nowrap;
			margin-top: 1em;
			padding: 0px;

			span {
				margin-bottom: 3px;
			}
		}
	}
}

@include xsm {
	.main-list {
		margin: 0;
		padding: 0;
		.top-options {
			display: inline;
			width: auto;

			.field {
				width: auto;
				margin: 10px;
				select {
					width: auto;
				}
			}

			.sort-text {
				margin-left: 20px;
			}
		}

		.box {
			.user-content {
				margin-top: 1em;
				padding: 0px;
			}
		}
	}
}

@include sm {
	.main-list {
		margin: 0;
		padding: 0;
		.top-options {
			display: inline;
			width: auto;

			.field {
				width: auto;
				margin: 10px;
				select {
					width: auto;
				}
			}

			.sort-text {
				margin-left: 20px;
			}
		}

		.box {
			margin: 30px;
			.user-content {
				margin-top: 1em;
				padding: 0px;
			}
		}
	}
}

@include md {
	.main-list {
		margin: 0;
		padding: 0;
		.top-options {
			display: inline;
			width: auto;

			.field {
				width: auto;
				margin: 10px;
				select {
					width: auto;
				}
			}

			.sort-text {
				margin-left: 20px;
			}
		}

		.box {
			.user-content {
				margin-top: 1em;
				padding: 0px;
			}
		}
	}
}
@include lg {
	.main-list {
		margin: 0;
		padding: 0;
		.top-options {
			display: inline;
			width: auto;

			.field {
				width: auto;
				margin: 10px;
				select {
					width: auto;
				}
			}

			.sort-text {
				margin-left: 20px;
			}
		}

		.box {
			.user-content {
				margin-top: 1em;
				padding: 0px;
			}
		}
	}
}
