@import '../../../assets/sass/mixins.scss';

.main-body {
	margin-top: 30px;
	.dashboard-body {
		.row {
			margin-left: 55px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			.column-item {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;
				flex: 1;

				.card {
					border-top-right-radius: 70px;
					border-top-left-radius: 70px;
					width: 70%;

					.card-content {
						width: auto;
					}
				}
			}
		}
	}
}
