@import '../../../assets/sass/mixins.scss';

.modal {
	font-weight: bold;
	white-space: nowrap !important;

	.modal-card {
		height: 100vh !important;

		.user-info {
			overflow-x: auto;
			width: auto;
			padding-right: 0px;
			height: auto;

			.address-info {
				width: auto;
				.address-field {
					width: auto;
					.admin {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

@include xsm {
	.modal {
		width: auto;
		font-weight: bold;

		.modal-card {
			height: 100vh !important;

			.user-info {
				overflow-x: hidden !important;
			}
		}
	}
}

@include sm {
	.modal {
		width: auto;
		font-weight: bold;

		.modal-card {
			height: 100vh !important;

			.user-info {
				width: 100%;
				overflow-x: auto !important;
			}
		}
	}
}

@include md {
	.modal {
		width: auto;
		font-weight: bold;

		.modal-card {
			width: auto;
			min-width: 1000px !important;
			height: 100vh !important;

			.user-info {
				overflow-x: hidden !important;
			}
		}
	}
}

@include lg {
	.modal {
		font-weight: bold;
		.modal-card {
			width: auto;
			min-width: 1000px !important;
			height: 100vh !important;

			.user-info {
				overflow-x: auto !important;
			}
		}
	}
}

@include xl {
	.modal {
		width: auto;
		font-weight: bold;

		.modal-card {
			width: auto;
			min-width: 1000px;
			height: 100vh !important;

			.user-info {
				overflow-x: hidden !important;
			}
		}
	}
}
