@import '../../../assets/sass/mixins.scss';

.main-list {
	width: auto;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	.top-options {
		display: flex;
		flex-direction: row;
		position: relative;

		.sort-text {
			display: inline-block;
			margin-top: 10px;
		}
	}

	.box {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;

		.user-content {
			display: block;
			width: auto;
			white-space: nowrap;
		}
	}
}
