@import '../../../assets/sass/mixins.scss';
.slide-enter-active,
.slide-leave-active {
	transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
	transform: translateX(100%);
	transition: all 150ms ease-in 0s;
}

.sidebar-panel {
	position: fixed;
	overflow-x: auto;
	top: 0 !important;
	height: 100%;
	z-index: 1000 !important;
	width: 100% !important;
}

nav {
	border-bottom: 1px solid whitesmoke;
}

@include md {
	.sidebar-panel {
		position: fixed;
		overflow-x: auto;
		top: 0 !important;
		height: 100%;
		z-index: 999 !important;
		width: 100% !important;
	}
}
