// intialization for global sass

@import '~bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

$font-stack: 'Raleway', sans-serif;

body {
	margin: 0;
	font: 100% $font-stack;
}
